body {
    width: 800px;
    height: 600px;
    overflow: auto;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.container-fluid {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 600px;
    overflow: auto;
}

div.row {
    margin-right: -15px;
    margin-left: -15px;
}

div.upload {
    text-align: right;
}
div.upload div#uploadInput input {
    max-width: 215px;
}

div.center {
    text-align: center;
}

div.canvas-container {
    border: 1px solid #999;
    width: 770px !important;
    text-align: center;
    margin: 5px 0;
    overflow: auto;
    margin: 0 auto;
}
div.canvas-container canvas {
    width: 770px !important;
}

div#json {
    padding: 5px;
    margin: 10px 0 0 0;
    border: 1px solid #004b51;
    width: 100%;
}
